<section class="container">
    <section class="wrapper">
        <h2>ADD HERO</h2>
        <section class="hero-add">
            <div class="hero-add__container">
                <span class="hero-add__hero-name-span">HERO NAME:</span>
                <input type="text" class="hero-add__hero-name-input" #heroName />
            </div>
            <div class="hero-add__container">
                <button type="button" class="hero-add__hero-name-button" (click)="addHero(heroName.value);
                heroName.value=''">Add</button>
            </div>
        </section>
    </section>
</section>